<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

    <extensions>
        <add assembly="NLogFactoryForUnity" />
    </extensions>

    <targets>
        <target name="UCTarget" xsi:type="UnityConsole" />
        <target name="JWSTarget" xsi:type="WebService" protocol="JsonPost" url="http://localhost:5001/nlog">
            <parameter name="SequenceId" layout="${ticks}.${sequenceid:padCharacter=0:padding=6}" />
            <parameter name="LocalTimestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffffff}" />
            <parameter name="Level" layout="${level:uppercase=true}" />
            <parameter name="Callsite" layout="${callsite}" />
            <parameter name="Message" layout="${message}" />
            <parameter name="Error" layout="${exception:format=Message, ToString:separator=\n}" />
        </target>
        <target name="MTarget" xsi:type="Memory" layout="[${level:uppercase=true}] ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="MTarget" />
    </rules>
</nlog>
